<h2>Saved Names</h2>
<ol>
  <% @user.entries.each do |entry| %>
    <% first_name_id = FirstName.find(entry.first_name_id)%>
    <% last_name_id = LastName.find(entry.last_name_id) %>

      <li>
        <%= first_name_id.first_name + " " + last_name_id.last_name %>
        <% if session[:user_id] == @user.id %>

           <%= link_to 'Delete Name', entry, :confirm => 'Are you sure?', :method => :delete %>
         <% end %>
      </li>
        <ul>
          <li>
            <%= entry.note %>
          </li>
        </ul>
       <%= render :partial => "entries/entry_buttons", locals: { entry: entry, user: @user } %>
  <% end %>
</ol>