<% if current_user %>
<h2>Hello, <%= @user.name %></h2>
<% end %>
<p>Username: <%= @user.username %></p>
<p>About: <%= @user.about %></p>

<% if current_user %>
<%= link_to "Delete Account", user_path(@user.id), method: :delete %>
<% end %>